<div class="put-client" id="recap">
    <p class="put-client-title">Récapitulatif de votre saisie :</p>
    <div>
        <div id="put-client-account">
            <div class="input-element">
                <label>Nom</label>
                <p>{{ sendName }}</p>
            </div>
            <div class="input-element">
                <label>Prénom</label>
                <p>{{ sendFirstname }}</p>                
            </div>
            <div class="input-element">
                <label>Adresse</label>
                <p>{{ sendAdress }}</p>
            </div>
            <div class="input-element">
                <label>Code postal</label>
                <p>{{ sendPostal }}</p>
            </div>
            <div class="input-element">
                <label>Ville</label>
                <p>{{ sendCity }}</p>
            </div>
            <div class="input-element">
                <label>Téléphone</label>
                <p>{{ sendPhone }}</p>
            </div>
            <div class="input-element">
                <label>Courriel</label>
                <p>{{ sendMail }}</p>
            </div>
            <div class="input-element">
                <label>Civilité</label>
                <p>{{ sendCivility }}</p>
            </div>
            <div class="input-element">
                <label>Mot de passe</label>
                <p>{{ sendPassword }}</p>
            </div>
            <div class="input-element">
                <label>Pseudonyme</label>
                <p>{{ sendUsername }}</p>
            </div>
        </div>
    </div>
</div>
